@model string  

<div class="Detail-Div">
    <div class="left">
        <div id="@(Model)AttachBin"
             draggable="false">
            <img src="images/Bin.png" alt="Remove attachment" class="bin-icon" />
        </div>
    </div>
    <div id="@(Model)AttachmentList">
        <div class="Attachment-Icon"
             id="@(Model)-Attachment-Icon1"
             draggable="true"
             onmouseover="UI.showTooltip(this)"
             onmouseout="UI.hideTooltip()"
             tooltip="Add Attachment">
            <div value="" class="File-ImageUnset" id="@(Model)-File-Image1">
                <img src="images/PlusIcon.png" alt="" />
            </div>
            <input type="file"
                   title=" "
                   class="FileUP file-upload-input"
                   name="Value"
                   value="1"
                   id="@(Model.ToLower())-fileupload1"
                   
                   
                    />
            <label id="@(Model)-Attach-Label" class="attach-label"></label>
            <button type="button" class="attachment-remove" aria-label="Remove attachment" tabindex="-1"><svg viewBox="0 0 24 24" width="10" height="10" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round"><line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/></svg></button>
        </div>
    </div>
</div>
